@inject IHttpService http

<input value="@text" @oninput="OnInput" @onfocus="OnFocus" @onblur ="OnBlur"
    class="form-control" placeholder="Supplier" disable="@Loading" autocomplete="off" />
<label>Supplier</label>
@if (showOptions)
{
    <div class="autocomplete list-group">
        <button @onclick="() => OnClick(null)" type="button" class="list-group-item list-group-item-action">
            <em class="text-muted">none</em>
        </button>
        @foreach(var item in list.OrEmpty())
        {
            <button @onclick="() => OnClick(item)" type="button"
                    class="list-group-item list-group-item-action @(item.Id == model?.Id ? "list-group-item-secondary" : "")">
                @item.Name
            </button>
        }
        @if (text != model?.Name)
        {
            <button @onclick="OnCreate" type="button" class="list-group-item list-group-item-action">
                <em class="text-muted">Add Supplier @(string.IsNullOrEmpty(text) ? "" : $"\"{text}\"")</em>
            </button>
        }
    </div>
}

<SupplierCreateModal @ref="create" OnCreated="OnCreated" />

@code
{
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }
    [Parameter] public bool Loading { get; set; }

    ICollection<ISupplierModel>? list { get; set; }
    ISupplierModel? model { get; set; }
    string? text { get; set; }
    bool showOptions { get; set; } = false;

    private Timer? timer;
    SupplierCreateModal? create;

    protected override async Task OnInitializedAsync() 
    {
        await LoadData();

        if (Value != null && list != null)
        {
            model = list.Where(x => x.Id == Value).FirstOrDefault() ??
                await http.GetAsync<SupplierModel>($"{ApiRoutes.Suppliers}/{Value}");
            text = model?.Name;
        }

        timer = new Timer(async _ => await LoadData(), null, Timeout.Infinite, Timeout.Infinite);
    }

    void OnInput(ChangeEventArgs e)
    {
        text = e.Value?.ToString();
        timer?.Change(500, Timeout.Infinite);
    }

    void OnFocus()
    {
        showOptions = true;
    }

    async Task OnBlur()
    {
        await Task.Delay(300); // wait for onclick
        showOptions = false;
        text = model?.Name;
    }

    async Task OnClick(ISupplierModel? item)
    {
        Value = item?.Id;
        if (ValueChanged.HasDelegate)
            await ValueChanged.InvokeAsync(item?.Id);

        model = item;
        text = item?.Name;
        showOptions = false;
    }

    void OnCreate()
    {
        showOptions = false;
        create?.Open(text);
    }

    async Task OnCreated(SupplierModel item)
    {
        await OnClick(item);
        
        if (model != null && list != null && list.All(x => x.Id != model.Id))
            list = new[] { model }.Union(list).ToList();
    }

    async Task LoadData()
    {
        var route = ApiRoutes.Suppliers + (string.IsNullOrEmpty(text) ? "" : $"?{new PagedQuery { Search = text }}");
        var result = await http.GetAsync<PagedList<SupplierListItem>>(route);
        list = result?.List.Cast<ISupplierModel>().ToList();
        await InvokeAsync(StateHasChanged);
    }
}