@inject NavigationManager navigationManager
@inject IHttpService http

@if (showModal)
{
    <div class="modal-backdrop fade show"></div>

    <div class="modal fade show" tabindex="-1" role="dialog" style="display: block; overflow-y: auto;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Add Location
                        @(Parent == null ? "" : $"in {Parent.Name}")
                    </h5>
                    <button @onclick="Close" type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <EditForm OnValidSubmit="OnSubmit" Model="model" autocomplete="off">
                    <div class="modal-body">
                        <DataAnnotationsValidator />

                        <p class="mb-3 fw-normal">
                            @if (Parent == null)
                            {
                                <text>Add a new location.</text>
                            }
                            else
                            {
                                <text>
                                    Add a new location under
                                    <strong>@Parent.Name</strong>
                                .</text>
                            }
                        </p>

                        <div class="form-floating mb-1">
                            <InputText @bind-Value="model.Name" class="form-control"
                                placeholder="Name" disable="@loading" autocomplete="off" />
                            <label for="floatingPassword">Name</label>
                            <ValidationMessage For="@(() => model.Name)" />
                        </div>

                        <div class="form-floating mb-1">
                            <InputTextArea @bind-Value="model.Notes" class="form-control" style="height: 100px"
                                placeholder="Notes" disable="@loading" />
                            <label for="floatingPassword">Notes</label>
                            <ValidationMessage For="@(() => model.Notes)" />
                        </div>

                        <label class="text-danger">@error</label>
                    </div>
                    <div class="modal-footer">
                        <button @onclick="Close" type="button" class="btn btn-secondary">Cancel</button>
                        <button type="submit" class="btn btn-primary" disabled="@loading">
                            @(loading ? "Submitting..." : "Confirm")
                        </button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public LocationModel? Parent { get; set; }

    [Parameter]
    public EventCallback<LocationModel> OnCreated { get; set; }

    LocationCreateModel model { get; set; } = new LocationCreateModel();
    string error { get; set; } = "";
    bool loading { get; set; } = false;
    bool showModal { get; set; } = false;

    async Task OnSubmit()
    {
        loading = true;
        model.ParentId = Parent?.Id;

        try
        {
            var result = await http.PostAsync<LocationModel>(ApiRoutes.Locations, model);

            Close();
            await OnCreated.InvokeAsync(result);
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }

        loading = false;
    }

    public void Open()
    {
        error = "";

        showModal = true;
        StateHasChanged();
    }

    public void Close()
    {
        showModal = false;
        StateHasChanged();
    }
}