@page "/locations/{Slug}"
@attribute [Authorize]

@inject NavigationManager Nav
@inject IHttpService Http
@inject IDialogService Dialog

<PageTitle>@(Model == null ? "" : $"{Model.Name} |") Locations | Destuff</PageTitle>

@if (Model != null)
{
    <div class="d-md-flex">
        <div class="text-nowrap order-1">
            <MudButton Href="/locations" StartIcon="@Icons.Material.Rounded.ChevronLeft" Variant="Variant.Outlined">
                Locations
            </MudButton>
            <MudButton OnClick="OnUpdateClick" Variant="Variant.Outlined"
                       Color="Color.Primary">Edit</MudButton>
            <MudButton OnClick="OnDeleteClick" Variant="Variant.Outlined"
                       Color="Color.Error">Delete</MudButton>
        </div>
        <div class="text-truncate me-auto order-0">
            <MudText Typo="Typo.h1" Class="text-truncate my-5">@Model.Name</MudText>
        </div>
    </div>

    <div>@Model.Notes</div>

    <MudTreeView T="LocationTreeModel" Items="items?.ToHashSet()" Hover="true">
        <ItemTemplate Context="item">
            <MudTreeViewItem Value="@item" Text="@item.Name" Items="@item.Children?.ToHashSet()" Expanded="true">
                <BodyContent>
                    <a href="@($"/locations/{item.Slug}")" class="d-inline-block w-100 py-2">@item.Name</a>
                </BodyContent>
            </MudTreeViewItem>
        </ItemTemplate>
    </MudTreeView>

}

@code {
    [Parameter]
    public string? Slug { get; set; }

    LocationModel? Model { get; set; }

    List<LocationTreeModel>? items { get; set; }

    protected override Task OnParametersSetAsync() => LoadData();

    async Task LoadData()
    {
        try
        {
            Model = await Http.GetAsync<LocationModel>($"{ApiRoutes.LocationSlug}/{Slug}");
        }
        catch (HttpRequestException ex)
        {
            if (ex.StatusCode == HttpStatusCode.NotFound)
                Nav.NavigateTo($"/locations");
            else
                throw;
        }
        var item = await Http.GetAsync<LocationTreeModel>($"{ApiRoutes.LocationTree}/{Model?.Id}");
        items = item?.Children?.Any() ?? false ? new() { item } : null;
    }

    async void OnUpdateClick()
    {
        var parameters = new DialogParameters();
        parameters.Add(nameof(UpdateModal.Model), Model);

        var dialog = await Dialog.ShowAsync<UpdateModal>("", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            var data = result.Data as LocationModel;
            if (data == null || data.Slug == Slug)
            {
                await LoadData();
                StateHasChanged();
            }
            else
                Nav.NavigateTo($"locations/{data.Slug}");
        }
    }

    async void OnDeleteClick()
    {
        var parameters = new DialogParameters();
        parameters.Add(nameof(DeleteModal.Model), Model);

        var dialog = await Dialog.ShowAsync<DeleteModal>("", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
            Nav.NavigateTo($"/locations");
    }
}