@inject IHttpService http

@if (model != null)
{
    <div class="modal-backdrop fade show"></div>

    <div class="modal fade show" tabindex="-1" role="dialog" style="display: block; overflow-y: auto;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Item @name</h5>
                    <button @onclick="Close" type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <EditForm OnValidSubmit="OnSubmit" Model="model" autocomplete="off">
                    <div class="modal-body">
                        <DataAnnotationsValidator />

                        <div class="form-floating mb-1">
                            <StuffSelect @bind-Value="model.StuffId" Loading="loading" />
                            <ValidationMessage For="@(() => model.StuffId)" />
                        </div>

                        <div class="form-floating mb-1">
                            <InputNumber @bind-Value="model.Quantity" disable="@loading"
                                         class="form-control" placeholder="Quantity" autocomplete="off" />
                            <label>Quantity</label>
                            <ValidationMessage For="@(() => model.Quantity)" />
                        </div>

                        <div class="form-floating mb-1">
                            <InputNumber @bind-Value="model.Cost" disable="@loading"
                                         class="form-control" placeholder="Cost" autocomplete="off" />
                            <label>Cost</label>
                            <ValidationMessage For="@(() => model.Cost)" />
                        </div>

                        <div class="form-floating mb-1">
                            <InputTextArea @bind-Value="model.Notes" class="form-control" style="height: 100px"
                                placeholder="Notes" disable="@loading" />
                            <label>Notes</label>
                            <ValidationMessage For="@(() => model.Notes)" />
                        </div>

                        <label class="text-danger">@error</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" disabled="@loading">
                            @(loading ? "Submitting..." : "Confirm")
                        </button>
                        <button @onclick="Close" type="button" class="btn btn-secondary">Cancel</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public EventCallback<PurchaseItemModel> OnUpdated { get; set; }


    PurchaseItemCreateModel? model { get; set; }
    
    string? id { get; set; }
    string? name { get; set; }

    string error { get; set; } = "";
    bool loading { get; set; } = false;

    async Task OnSubmit()
    {
        if (model == null)
            throw new NullReferenceException();

        loading = true;

        try
        {
            var result = await http.PutAsync<PurchaseItemModel>($"{ApiRoutes.PurchaseItems}/{id}", model);

            await OnUpdated.InvokeAsync(result);
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }

        loading = false;

        Close();
    }


    public void Open(PurchaseItemModel purchaseItem)
    {
        id = purchaseItem.Id;
        name = purchaseItem.Stuff.Name;

        model = purchaseItem.ToCreate();

        StateHasChanged();
    }


    public async Task Open(PurchaseItemListItem purchaseItem)
    {
        id = purchaseItem.Id;
        name = purchaseItem.Stuff.Name;

        var purchaseItemModel = await http.GetAsync<PurchaseItemModel>($"{ApiRoutes.PurchaseItems}/{id}");
        if (purchaseItemModel == null)
            throw new NullReferenceException();

        model = purchaseItemModel.ToCreate();
        StateHasChanged();
    }


    void Close()
    {
        model = null;
    }
}
