@page "/suppliers/{Slug}"
@attribute [Authorize]

@inject NavigationManager Nav
@inject IHttpService Http
@inject IDialogService Dialog

@if (Model != null)
{
    <div class="d-md-flex">
        <div class="text-nowrap order-1">
            <MudButton Href="/suppliers" StartIcon="@Icons.Material.Rounded.ChevronLeft" Variant="Variant.Outlined">
                Suppliers
            </MudButton>
            @*<MudButton OnClick="OnUpdateClick" Variant="Variant.Outlined"
                        Color="Color.Primary">Edit</MudButton>*@
            <MudButton OnClick="OnDeleteClick" Variant="Variant.Outlined"
                        Color="Color.Error">Delete</MudButton>
        </div>
        <div class="text-truncate me-auto order-0">
            <MudText Typo="Typo.h1" Class="text-truncate my-5">@Model.ShortName</MudText>
        </div>
    </div>

    <div class="mw-100" style="width: 600px; max-width: 100%;">
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>
        </dl>

        @if (!string.IsNullOrEmpty(Model.Url))
        {
            <dl class="row">
                <dt class="col-sm-3">URL</dt>
                <dd class="col-sm-9 text-truncate">
                    <a href="@Model.Url" target="_blank">
                        @Model.Url
                    </a>
                </dd>
            </dl>
        }

        @if (!string.IsNullOrEmpty(Model.Phone))
        {
            <dl class="row">
                <dt class="col-sm-3">Phone</dt>
                <dd class="col-sm-9">@Model.Phone</dd>
            </dl>
        }

        @if (!string.IsNullOrEmpty(Model.Address))
        {
            <dl class="row">
                <dt class="col-sm-3">Address</dt>
                <dd class="col-sm-9">@Model.Address</dd>
            </dl>
        }

        <div>@Model.Notes</div>
    </div>
}

<UpdateModal @ref="update" OnUpdated="OnUpdated" />

@code {
    [Parameter]
    public string? Slug { get; set; }

    SupplierModel? Model { get; set; }

    UpdateModal? update;


    protected override Task OnParametersSetAsync() => LoadData();

    async Task LoadData()
    {
        try
        {
            Model = await Http.GetAsync<SupplierModel>($"{ApiRoutes.SupplierSlug}/{Slug}");
        }
        catch (HttpRequestException ex)
        {
            if (ex.StatusCode == HttpStatusCode.NotFound)
                Nav.NavigateTo($"/suppliers");
            else
                throw;
        }
    }

    async Task OnUpdated (SupplierModel item) {
        if (Slug != item.Slug)
            Nav.NavigateTo($"/suppliers/{item.Slug}");
        else
            await LoadData();
    }

    async void OnDeleteClick()
    {
        var parameters = new DialogParameters();
        parameters.Add(nameof(DeleteModal.Model), Model);

        var dialog = await Dialog.ShowAsync<DeleteModal>("", parameters);
        var result = await dialog.Result;

        if (!result.Canceled)
            Nav.NavigateTo($"/suppliers");
    }
}