@page "/stuffs/{Slug}/{Tab?}"

@attribute [Authorize]
@inject IHttpService http
@inject NavigationManager nav

<PageTitle>@(model == null ? "Stuffs" : $"{model.Name} | Stuffs") | Destuff</PageTitle>

@if (model != null)
{
    <div class="d-md-flex">
        <div class="text-nowrap order-1">
            <MudButton Href="/" StartIcon="@Icons.Material.Rounded.ChevronLeft" Variant="Variant.Outlined">
                Stuffs
            </MudButton>
            @if (Tab == StuffTabs.Details)
            {
                <FileUpload StuffId="@model.Id" OnUploaded="OnUploaded" ImageOnly="true"
                    Label="Upload" Class="btn btn-outline-primary ms-1" />
                <MudButton OnClick="() => update?.Open(model)" Variant="Variant.Outlined" Color="Color.Primary">
                    Edit
                </MudButton>
                <MudButton OnClick="() => delete?.Open(model)" Variant="Variant.Outlined" Color="Color.Error">
                    Delete
                </MudButton>

                <UpdateModal @ref="update" OnUpdated="OnUpdated" />
                <DeleteModal @ref="delete" OnDeleted="OnDeleted" />
            }
            else if (Tab == StuffTabs.Locations)
            {

            }
        </div>
        <div class="text-truncate me-auto order-0">
            <MudText Typo="Typo.h1" Class="text-truncate my-5">@model.Name</MudText>
        </div>
    </div>
    

    <MudTabs ActivePanelIndex="activePanelIndex" ActivePanelIndexChanged="OnActivePanelIndexChanged"
         Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Details">
            <div class="mw-100">
                <div class="mb-4">
                    <Thumbnails Items="uploads" />
                </div>

                <dl class="d-sm-flex">
                    <dt class="w-160p">Name</dt>
                    <dd>@model.Name</dd>
                </dl>

                @if (!string.IsNullOrEmpty(model.Url))
                {
                    <dl class="d-sm-flex">
                        <dt class="w-160p">URL</dt>
                        <dd class="text-truncate">
                            <MudLink Href="@model.Url" Target="_blank">
                                @model.Url
                            </MudLink>
                        </dd>
                    </dl>
                }

                @if (model.IsSingleLocation && model.FirstLocation != null)
                {
                    <dl class="d-sm-flex">
                        <dt class="w-160p">Location</dt>
                        <dd>
                            <a href="@($"/locations/{model.FirstLocation.Slug}")">
                                @model.FirstLocation.Name
                            </a>
                            <small class="muted">
                                (<a href="@($"/stuffs/{Slug}/locations")">more</a>)
                            </small>
                        </dd>
                    </dl>
                }
                else if (model.StuffLocations != null && model.StuffLocations.Any())
                {
                    <dl class="d-sm-flex">
                        <dt class="w-160p">Count</dt>
                        <dd>
                            <a href="@($"/stuffs/{Slug}/locations")">
                                @model.StuffLocations.Sum(x => x.Count)
                            </a>
                        </dd>
                    </dl>
                    <dl class="d-sm-flex">
                        <dt class="w-160p">Location</dt>
                        <dd>
                            @foreach (var (item, i) in model.StuffLocations.ToIndex())
                            {
                                @if (i > 0)
                                {
                                    <text>, </text>
                                }
                                if (item.Location != null)
                                {
                                    <a href="@($"/locations/{item.Location.Slug}")">
                                        @item.Location.Name
                                    </a>
                                    @if (item.Count > 1)
                                    {
                                        <span title="@($"{item.Count} units")">@($" ({item.Count})")</span>
                                    }
                                }
                            }
                        </dd>
                    </dl>
                }

                <div>@model.Notes</div>
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Locations">
            <button @onclick="() => locationAdd?.Open()"
                    type="button" class="btn btn-outline-primary ms-1">
                Add
            </button>

            <LocationAddModal @ref="locationAdd" Model="model" OnAdded="LoadData" />
        </MudTabPanel>
    </MudTabs>
}

@code
{
    [Parameter] public string? Slug { get; set; }
    [Parameter] public string? Tab { get; set; }
    int activePanelIndex;

    StuffModel? model { get; set; }
    List<UploadModel> uploads = new List<UploadModel>();

    DeleteModal? delete;
    UpdateModal? update;
    LocationAddModal? locationAdd;

    protected override Task OnParametersSetAsync()
    {
        activePanelIndex = Tab switch
        {
            StuffTabs.Locations => 1,
            _ => 0
        };

        return LoadData(); 
    }

    private async Task LoadData()
    {
        try
        {
            model = await http.GetAsync<StuffModel>($"{ApiRoutes.StuffSlug}/{Slug}");
            if (model != null)
                uploads.AddRange(model.Uploads.OrEmpty());
        }
        catch (HttpRequestException ex)
        {
            if (ex.StatusCode == HttpStatusCode.NotFound)
                nav.NavigateTo($"/");
            else
                throw;
        }
    }

    async Task OnUpdated(StuffModel stuff)
    {
        if (Slug != stuff.Slug) 
            nav.NavigateTo($"stuffs/{stuff.Slug}");
        else
            await LoadData();
    }

    void OnActivePanelIndexChanged(int index)
    {
        activePanelIndex = index;
        switch (index)
        {
            case 1:
                nav.NavigateTo($"stuffs/{Slug}/{StuffTabs.Locations}");
                break;
            default:
                nav.NavigateTo($"stuffs/{Slug}");
                break;
        }
        
    }

    void OnDeleted() => nav.NavigateTo("/");
    void OnUploaded(UploadModel upload) => uploads.Add(upload);
}