@page "/stuffs/{Slug}/{Tab?}"

@attribute [Authorize]
@inject IHttpService http
@inject IDialogService dialog
@inject NavigationManager nav

<PageTitle>@(Model == null ? "Stuffs" : $"{Model.Name} | Stuffs") | Destuff</PageTitle>

@if (Model != null)
{
    <div class="d-md-flex">
        <div class="text-nowrap order-1">
            <MudButton Href="/" StartIcon="@Icons.Material.Rounded.ChevronLeft" Variant="Variant.Outlined">
                Stuffs
            </MudButton>
            @if (Tab == StuffTabs.Details)
            {
                <FileUpload StuffId="@Model.Id" OnUploaded="OnUploaded" ImageOnly="true"
                    Label="Upload" Variant="Variant.Outlined" Color="Color.Tertiary" Class="ms-1" />
                <MudButton OnClick="OnUpdateClick" Variant="Variant.Outlined" 
                    Color="Color.Primary">Edit</MudButton>
                <MudButton OnClick="OnDeleteClick" Variant="Variant.Outlined"
                    Color="Color.Error">Delete</MudButton>
            }
            else if (Tab == StuffTabs.Locations)
            {
                <button @onclick="() => locationAdd?.Open()"
                        type="button" class="btn btn-outline-primary ms-1">
                    Add
                </button>

                <LocationAddModal @ref="locationAdd" Model="Model" OnAdded="LoadData" />
            }
        </div>
        <div class="text-truncate me-auto order-0">
            <MudText Typo="Typo.h1" Class="text-truncate my-5">@Model.Name</MudText>
        </div>
    </div>
    

    <MudTabs ActivePanelIndex="activePanelIndex" ActivePanelIndexChanged="OnActivePanelIndexChanged"
         Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Details">
            <div class="mw-100">
                <div class="mb-4">
                    <Thumbnails Items="uploads" />
                </div>

                <dl>
                    <dt>Name</dt>
                    <dd>@Model.Name</dd>
                </dl>

                @if (!string.IsNullOrEmpty(Model.Url))
                {
                    <dl>
                        <dt>URL</dt>
                        <dd class="text-truncate">
                            <MudLink Href="@Model.Url" Target="_blank">
                                @Model.Url
                            </MudLink>
                        </dd>
                    </dl>
                }

                @if (Model.IsSingleLocation && Model.FirstLocation != null)
                {
                    <dl>
                        <dt>Location</dt>
                        <dd>
                            <a href="@($"/locations/{Model.FirstLocation.Slug}")">
                                @Model.FirstLocation.Name
                            </a>
                            <small class="muted">
                                (<a href="@($"/stuffs/{Slug}/locations")">more</a>)
                            </small>
                        </dd>
                    </dl>
                }
                else if (Model.StuffLocations != null && Model.StuffLocations.Any())
                {
                    <dl>
                        <dt>Count</dt>
                        <dd>
                            <a href="@($"/stuffs/{Slug}/locations")">
                                @Model.StuffLocations.Sum(x => x.Count)
                            </a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Location</dt>
                        <dd>
                            @foreach (var (item, i) in Model.StuffLocations.ToIndex())
                            {
                                @if (i > 0)
                                {
                                    <text>, </text>
                                }
                                if (item.Location != null)
                                {
                                    <a href="@($"/locations/{item.Location.Slug}")">
                                        @item.Location.Name
                                    </a>
                                    @if (item.Count > 1)
                                    {
                                        <span title="@($"{item.Count} units")">@($" ({item.Count})")</span>
                                    }
                                }
                            }
                        </dd>
                    </dl>
                }

                <div>@Model.Notes</div>
            </div>
        </MudTabPanel>
        <MudTabPanel Text="Locations">
            <Locations Stuff="Model" Models="Model.StuffLocations" />
        </MudTabPanel>
    </MudTabs>
}

@code
{
    [Parameter] public string? Slug { get; set; }
    [Parameter] public string? Tab { get; set; }
    int activePanelIndex;

    StuffModel? Model { get; set; }
    List<UploadModel> uploads = new List<UploadModel>();

    LocationAddModal? locationAdd;

    protected override Task OnParametersSetAsync()
    {
        activePanelIndex = Tab switch
        {
            StuffTabs.Locations => 1,
            _ => 0
        };

        return LoadData(); 
    }

    private async Task LoadData()
    {
        try
        {
            Model = await http.GetAsync<StuffModel>($"{ApiRoutes.StuffSlug}/{Slug}");
            if (Model != null)
                uploads.AddRange(Model.Uploads.OrEmpty());
        }
        catch (HttpRequestException ex)
        {
            if (ex.StatusCode == HttpStatusCode.NotFound)
                nav.NavigateTo($"/");
            else
                throw;
        }
    }

    async void OnUpdateClick()
    {
        var parameters = new DialogParameters();
        parameters.Add(nameof(UpdateModal.Model), Model);

        var dialogRef = await dialog.ShowAsync<UpdateModal>("", parameters);
        var result = await dialogRef.Result;

        if (!result.Canceled && result.Data != null)
        {
            var data = result.Data as StuffModel;
            if (data == null || data.Slug ==  Slug)
                await LoadData();
            else
                nav.NavigateTo($"stuffs/{data.Slug}");
        }
    }

    async void OnDeleteClick()
    {
        var parameters = new DialogParameters();
        parameters.Add(nameof(UpdateModal.Model), Model);

        var dialogRef = await dialog.ShowAsync<DeleteModal>("", parameters);
        var result = await dialogRef.Result;

        if (!result.Canceled)
            nav.NavigateTo($"/");
    }

    void OnActivePanelIndexChanged(int index)
    {
        activePanelIndex = index;
        switch (index)
        {
            case 1:
                nav.NavigateTo($"stuffs/{Slug}/{StuffTabs.Locations}");
                break;
            default:
                nav.NavigateTo($"stuffs/{Slug}");
                break;
        }
        
    }

    void OnUploaded(UploadModel upload) => uploads.Add(upload);
}