@page "/"
@page "/stuffs"

@attribute [Authorize]
@inject NavigationManager nav
@inject IHttpService http
@inject IDialogService dialog

<PageTitle>Stuffs | Destuff</PageTitle>

<div class="my-5">
    <MudText Typo="Typo.h1">Stuffs</MudText>
</div>

<MudDataGrid @ref="grid" T="StuffListItem" ServerData="LoadServerData" CurrentPage="gridPage" RowsPerPage="PageSize" SortMode="SortMode.Single">
    <ToolBarContent>
        <MudTextField T="string" Value="search" ValueChanged="OnSearch" Placeholder="Search"
                      Style="max-width: 300px" Clearable="true" Variant="Variant.Outlined" Margin="Margin.Dense"
                      Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
        <MudSpacer />
        <MudButton OnClick="OnAddClick" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Add</MudButton>
        <MudButton OnClick="() => bulk?.Open()" Variant="Variant.Filled" Color="Color.Secondary">Bulk</MudButton>
    </ToolBarContent>
    <Columns>
        <Column T="StuffListItem" Field="Name" />
        <Column T="StuffListItem" Field="Locations">
            <CellTemplate>
                @foreach (var (location, i) in context.Item.Locations.ToIndex()) {
                    @if (i > 0) {
                        <text>, </text>
                    }
                    <a href="@($"/locations/{location.Slug}")">@location.Name</a>
                }
            </CellTemplate>
        </Column>
        <Column T="StuffListItem" Title="">
            <CellTemplate>
                <MudIconButton OnClick="_ => OnDelete(context.Item)" Icon="@Icons.Material.Filled.Delete" aria-label="delete"></MudIconButton>
            </CellTemplate>
        </Column>
    </Columns>
    <PagerContent>
        <div class="py-5 d-flex justify-center">
            @if (PageCount > 1)
            {
                <MudPagination Count="PageCount" Selected="pagerPage" SelectedChanged="PageChanged" Color="Color.Primary" />
            }
        </div>
    </PagerContent>
</MudDataGrid>

@if (data != null && data.Count > 0) {
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Locations</th>
                <th scope="col" style=""></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in data.List) {
                <tr>
                    <td>
                        <a href="@($"/stuffs/{item.Slug}")">@item.Name</a>
                    </td>
                    <td>
                        @foreach (var (location, i) in item.Locations.ToIndex()) {
                            @if (i > 0) {
                                <text>, </text>
                            }
                            <a href="@($"/locations/{location.Slug}")">@location.Name</a>
                        }
                    </td>
                    <td>
                        <button @onclick="() => delete?.Open(item)" class="btn btn-sm btn-outline-danger border border-0">
                            <i class="bi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <Pager Count="data.Count" Page="pagerPage" PageSize="PageSize" GenerateLink="GenerateLink" />
}

<CreateBulkModal @ref="bulk" OnCreated="LoadData" />
<DeleteModal @ref="delete" OnDeleted="LoadData" />

@code
{
    [Parameter, SupplyParameterFromQuery(Name = "s")]
    public string? Search { get; set; }
    string? search { get; set; }

    [Parameter, SupplyParameterFromQuery(Name = "p")]
    public int? Page { get; set; } = 1;
    int gridPage => (Page ?? 1) - 1;
    int pagerPage = 1;

    public int PageSize => 10;
    public int PageCount;

    PagedList<StuffListItem>? data { get; set; }

    MudDataGrid<StuffListItem>? grid;
    CreateBulkModal? bulk;
    DeleteModal? delete;

    protected override void OnInitialized() => PageCount = gridPage + 1;

    protected override async Task OnParametersSetAsync()
    {
        await Task.CompletedTask;
        search = Search;
        pagerPage = Page ?? 1;
        if (grid != null && Page == null) // BUG: server data doesn't auto reload
            await grid.ReloadServerData();
    }

    async Task LoadData()
    {
        if (grid != null && Page == null) // BUG: server data doesn't auto reload
            await grid.ReloadServerData();
    }

    async Task<GridData<StuffListItem>> LoadServerData(GridState<StuffListItem> state)
    {
        var sort = state.SortDefinitions.FirstOrDefault();
        var query = new PagedQuery {
            Search = Search,
            Page = gridPage, // BUG: state returns wrong page on first load.
            PageSize = state.PageSize,
            SortField = sort?.SortBy,
            SortDir = sort?.Descending == true ? DestuffDirection.Descending : DestuffDirection.Ascending
        };
        var result = await http.GetAsync<PagedList<StuffListItem>>($"{ApiRoutes.Stuffs}?{query}");
        if (result == null)
            throw new Exception("Result is null");

        PageCount = (result.Count - 1) / PageSize + 1;
        return new() {
            Items = result.List,
            TotalItems = result.Count
        };
    }

    void PageChanged(int i)
    {
        if (pagerPage != i)
            nav.NavigateTo($"/stuffs?{new PagedQuery { Search = Search, Page = i }}");
        pagerPage = i;
    }

    string GenerateLink(int page) => $"/stuffs?{new PagedQuery { Search = Search, Page = page }}";

    void OnSearch(string value)
    {
        search = value;
        nav.NavigateTo(string.IsNullOrEmpty(search) ? $"/stuffs" : $"/stuffs?s={search}");
    }

    async void OnAddClick()
    {
        var dref = await dialog.ShowAsync<StuffCreateModal>();
        var result = dref.Result;
    }

    async void OnDelete(StuffListItem item)
    {
        bool? result = await dialog.ShowMessageBox(
            $"Delete {item.Name}",
            $"Are you sure you want to delete stuff \"{item.Name}\".",
            yesText: "Delete", cancelText: "Cancel");

        StateHasChanged();
    }
}