@inject IHttpService http

@if (Model != null)
{
    <div class="modal-backdrop fade show"></div>

    <div class="modal fade show" tabindex="-1" role="dialog" style="display: block; overflow-y: auto;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Stuff @name</h5>
                    <button @onclick="Close" type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <EditForm OnValidSubmit="OnSubmit" Model="Model" autocomplete="off">
                    <div class="modal-body">
                        <DataAnnotationsValidator />

                        <div class="form-floating mb-1">
                            <InputText @bind-Value="Model.Name" class="form-control"
                                placeholder="Name" disable="@loading" autocomplete="off" />
                            <label>Name</label>
                            <ValidationMessage For="@(() => Model.Name)" />
                        </div>

                        <div class="form-floating mb-1">
                            <InputText @bind-Value="Model.Url" disable="@loading"
                                       class="form-control" placeholder="URL" autocomplete="off" />
                            <label>URL</label>
                            <ValidationMessage For="@(() => Model.Url)" />
                        </div>

                        @if (singleLocation)
                        {
                            <div class="form-floating mb-1">
                                <LocationSelect @bind-Value="Model.LocationId" Loading="loading" />
                            </div>
                        }

                        <div class="form-floating mb-1">
                            <InputTextArea @bind-Value="Model.Notes" class="form-control" style="height: 100px"
                                placeholder="Notes" disable="@loading" />
                            <label>Notes</label>
                            <ValidationMessage For="@(() => Model.Notes)" />
                        </div>

                        <label class="text-danger">@error</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" disabled="@loading">
                            @(loading ? "Submitting..." : "Confirm")
                        </button>
                        <button @onclick="Close" type="button" class="btn btn-secondary">Cancel</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter] 
    MudDialogInstance? dialog { get; set; }

    [Parameter]
    public EventCallback<StuffModel> OnUpdated { get; set; }

    [Parameter]
    public StuffRequest? Model { get; set; }
    
    string? id { get; set; }
    string? name { get; set; }
    bool singleLocation { get; set; }

    string error { get; set; } = "";
    bool loading { get; set; } = false;

    async Task OnSubmit()
    {
        if (Model == null)
            throw new NullReferenceException();

        loading = true;

        try
        {
            var result = await http.PutAsync<StuffModel>($"{ApiRoutes.Stuffs}/{id}", Model);

            await OnUpdated.InvokeAsync(result);
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }

        loading = false;

        Close();
    }


    public void Open(StuffModel stuff)
    {
        id = stuff.Id;
        name = stuff.Name;
        singleLocation = stuff.IsSingleLocation;

        Model = stuff.ToRequest();

        StateHasChanged();
    }


    void Close()
    {
        Model = null;
    }
}
